

!!!strict
%head
	%meta{ content: "text/html; charset=UTF-8", 'http-equiv' => "Content-Type" }
%body
	%p
		You have a new
		= @contact.contact_type || 'contact'
		!
	%p
		%b From:
		= @contact.email
	
	- if @contact.subject.present?
		%p
			%b Subject:
			= @contact.subject
	
	- if @contact.message.present?
		%p
			%b Message:
			%br
			= raw @contact.message