.bundle/
log/*.log
pkg/
spec/test_app/db/*.sqlite3
spec/test_app/db/schema.rb
spec/test_app/log/*.log
test/dummy/db/*.sqlite3
test/dummy/db/*.sqlite3-journal
test/dummy/log/*.log
test/dummy/tmp/
test/dummy/.sass-cache

.idea
