<!DOCTYPE html>
<html>
<head>
  <title>SwellMedia</title>
  <%= stylesheet_link_tag    "swell_media/application", media: "all" %>
  <%= javascript_include_tag "swell_media/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
