
%nav.navbar.topnavbar{ role: "navigation" }
	.navbar-header
		%a.navbar-brand{ href: swell_media.root_path, style: 'color:#fff;' }
			.brand-logo
				= SwellMedia.app_name
	.nav-wrapper
		%ul.nav.navbar-nav
			%li
				%a.hidden-xs{ href: "#", data: { "toggle-state" => "aside-collapsed" } }
					%em.fa.fa-navicon

		%ul.nav.navbar-nav.navbar-right
			%li
				%a{ href: "#", data: { "search-open" => "" } }
					%em.icon-magnifier
