<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', SwellMedia::Engine.routes.url_helpers.user_confirmation_url(confirmation_token: @token, host: SwellMedia.app_host) %></p>
