
#login_modal.modal.fade.swell_media_login_modal
	.modal-dialog
		.modal-content
			.modal-body
				%button.close{ type: :button, 'data-dismiss' => 'modal', 'aria-hidden' => 'true' }
					&times;
				%h1.text-center{ style: 'margin: 0;' }
					#{SwellMedia.app_name}
				%h2.text-center{ style: 'font-size: 2em; margin: 0.1em 0 0 0;' }
					Sign in or Sign up


				%p{ style: 'margin: 1em auto;' }
					.text-center
						%div{ style: 'margin: 1em auto;' }
							%a.auth-pop{ href: swell_media.user_omniauth_authorize_path( :facebook, ga_client_id: ':ga_client_id' ) }
								%span.fa-stack.fa-lg
									%i.fa.fa-circle.fa-stack-2x
									%i.fa.fa-facebook.fa-stack-1x.fa-inverse
								%span{ style: 'font-size:150%;' }
									Sign in with Facebook

						%div{ style: 'margin: 1em auto;' }
							%a.auth-pop{ href: swell_media.user_omniauth_authorize_path( :twitter, ga_client_id: ':ga_client_id' ) }
								%span.fa-stack.fa-lg
									%i.fa.fa-circle.fa-stack-2x
									%i.fa.fa-twitter.fa-stack-1x.fa-inverse
								%span{ style: 'font-size:150%' }
									Sign in with Twitter

				%p.text-center{ style: 'color: #999;'}
					%a{ href: '/privacy-policy' } Privacy Policy.
